@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

body{
    margin: 0%;
}

#search{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 100vh;
    display: block; 
    height: 580px;
    width: 100%;
    z-index: 1;
}

#search #video{
    height: 580px;
    width: 100%;
    object-fit: cover;
}

.scroll{
    padding: 45.5px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.scroll table{
    border-spacing: 15px;
}

.scroll td{
    height: 385px;
    width: 335px;
    border-radius: 20px;
    background: #138541;
}

.scroll .contain{
    width: 100%;
    height: 100%;
}

.scroll #head{
    font-family: Inter;
    font-size: 36px;
    font-weight: 500;
    line-height: 43.2px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #FFFFFF;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: height 1s;
}

.scroll #body{
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    line-height: 5px;
    color: #FFFFFF;
    margin-left: 20px;
    opacity: 0;
    transition: opacity 1s;
}

.scroll #whylink:hover #head{
    height: 40%;
}

.scroll #whylink:hover #body{
    opacity: 1;
}

.scroll #maplink:hover #head{
    height: 40%;
}

.scroll #maplink:hover #body{
    opacity: 1;
}

.scroll #craftlink:hover #head{
    height: 40%;
}

.scroll #craftlink:hover #body{
    opacity: 1;
}

.scroll #contactlink:hover #head{
    height: 40%;
}

.scroll #contactlink:hover #body{
    opacity: 1;
}

#why{
    padding:0px 81px 35px 81px;
    font-family: Inter;
    background-color: white;
}

#why #head{
    color: #006239;
    font-size: 50px;
    font-weight: 600;
}
#why #detail{
    padding: 10px 45px;
}

#why #detail table{
    border-spacing: 25px;
}

#why #detail img{
    width: 400px;
    height: 300px;
}

#why #detail p{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    font-family: Inter;
}

#why #box{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: -4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#why #box #top{
    font-size: 32px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    margin-left: 24px;
}

#why #box #scrollwrap{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}

#why #box #scroll{
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

#box #scroll #image{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#box #scroll #image:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#box #scroll p{
    text-align: center;
    color: black;
}
#box #scroll #part{
    display: inline-block;
}

#next,#prev{
    width: 35px;
    height: 35px;
}

#next:hover,#prev:hover{
    background-color: rgba(0, 0, 0, 0.25);
    transition: ease-in 250ms;
    border-radius: 50%;
    border:8px solid rgb(191, 191, 191) ;
}

#crafting{
    background-image: url("../images/crafting.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 100vh;
}

#crafting img{
    width: 100%;
}

#contact{
    background-image: url("../images/contact.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 127px 232px;
}

#contact #first{
    font-family: Inter;
    font-size: 64px;
    font-weight: 600;
    line-height: 96px;
    letter-spacing: -0.01em;
    text-align: center;
    color: white;
}

#contact #second{
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.01em;
    text-align: center;
    color: white;
}

#contact #button{
    width: 100%;
    text-align: center;   
}

#contact #realbutton{
    width: 198px;
    height: 79px;
    padding: 14px 24px;
    border-radius: 8px;
    background: #25DD6E;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    font-family: Inknut Antiqua;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: white;
}

